.cookie_lgpd #cookies {
	display:none !important;
}

#cookies p {
    margin: 0;
    padding: 0;
}

#cookies .block {
	margin-top: 0px;
    margin-bottom: 0px;
}

#barra-cookies {
    padding: 10px;
}
